/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

img {
    border-radius: 1em;
}

section {
    margin: 0 auto;
    margin-top: 4em;
    padding: 2em;
    background-color: rgba($color: #FFFFFF, $alpha: 0.67);
    border-radius: 1em;
    width: 90%;
}

.profile-img {
    position: fixed;
    bottom: 2em;
    right: 0px;
    z-index: -1;
}
