<h1>Projects</h1>
<hr />
<p><a routerLink="../"><span class="fa fa-arrow-left" aria-hidden="true"></span> Back to index</a></p>
<h2>Quiz Games</h2>
<ul class="list-unstyled">
  <li>
    <p>
      <a href="https://jimleh.github.io/angularjs/sentence.html" target="_blank">SentenceBuilder</a>
      <br />
      A Quiz I originally made as part of an MVC/AngularJS <a href="https://github.com/Epoxie/MiniProject">project</a>
      together with <a href="https://github.com/Epoxie">Epoxie</a>.
      <br />
      As the name suggests it's a quiz game where you're supposed to build sentences, but I thought it would be a bit
      more interesting to use tongue twisters instead of "normal" sentences.
      I guess the code could use some "cleaning", but it'll stay on my to-do list for the time being.
    </p>
  </li>
  <li>
    <a href="https://jimleh.github.io/angularjs/punctuation.html" target="_blank">PunctuationExercise</a>
    <br />
    Another Quiz I originally made as part of the same <a href="https://github.com/Epoxie/MiniProject">project</a>
    together with <a href="https://github.com/Epoxie">Epoxie</a>.
    <br />
    As the name suggests it's a quiz game where you place punctuation marks at the correct places in a sentence, and
    this one also uses tongue twisters instead of "normal" sentences.
    Like SentenceBuilder the code for this one could also use some "cleaning", but it'll also stay on my to-do list
    for the time being.
  </li>
</ul>
<h2>Lexicon 2017 Projects</h2>
<a routerLink="lexicon2017">Link to the projects</a>
<p>A collection of projects from a course in web development during the autumn of 2017.</p>
<h2>D0019E - Skriptspr&aring;k och databaser, LTU 2018</h2>
<a href="http://utbweb.its.ltu.se/~jimleh-1/D0019E/" target="_blank">Link to the assignment hand-in page</a>
<br/>
Link to a different site with my assignments from a course in web development (PHP/MySQL/JS) at Lule&aring; University of Technology during the spring of 2018.
The last assignment used a database that was provided by the university, so I'm not entirely sure how long it will stay online.
<br/>
<br/>